body {
  margin: 0;
}

.center {
  padding: 30px 186px 158px 184px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  width: 184px;
  height: 41px;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #696871;
  text-decoration: none;
}

.nav__link-selected {
  color: #19191b;
  border-bottom: 2px solid #5454d4;
  padding-bottom: 10px;
}

.nav__item {
  margin-right: 50px;
}

.button {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #ff7143;
  border-radius: 10px;
  border: none;
  padding: 20px 60px;
}

.button:hover {
  background-color: #ff6735;
}

.section__business {
  display: flex;
  margin-bottom: 112px;
  gap: 77px;
}

.h1 {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  color: #19191b;
  margin: 0;
  margin-top: 100px;
}

.text {
  font-family: Mulish;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #696871;
  margin: 30px 0 50px;
}

.button__group-business {
  display: flex;
}

.button-business {
  background-color: #5454d4;
  margin-right: 40px;
}

.button-business:hover {
  background-color: #4550d3;
}

.button__down {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section__right-img {
  width: 580px;
  height: 664px;
}

.section__logos {
  margin-bottom: 150px;
}

.logos__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.section__index {
  display: flex;
  gap: 165px;
  margin-bottom: 85px;
}

.section__left-img {
  width: 348px;
  height: 473px;
}

.text-index {
  margin: 30px 0;
}

.h3 {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  color: #19191b;
  margin: 0;
  margin-top: 115px;
}

.h3-metrics {
  margin-top: 170px;
}

.link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #5454d4;
  text-decoration: none;
}

.section__metrics {
  display: flex;
  gap: 158px;
  margin-bottom: 160px;
}

.section__audit {
  display: flex;
  margin-bottom: 150px;
}

.card__audit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img__audit-card {
  width: 114px;
  height: 64px;
}

.img__audit-calculator {
  width: 91px;
  height: 72px;
}

.img__audit-camera {
  width: 118px;
  height: 63px;
}

.h4 {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #19191b;
  margin: 20px 0;
}

.text__audit {
  font-family: Mulish;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #696871;
  margin: 0;
  padding: 0 30px;
}

.h4__audit {
  margin: 16px 0;
}

#section__plan {
  display: flex;
  margin-bottom: 80px;
}

.h2 {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #19191b;
  margin: 0;
  margin-right: 20px;
}

.custom-radio {
  display: inline-block;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #000;
  background: #f7f7fb;
  border-radius: 10px 0 0 10px;
  border: 5px solid #f7f7fb;
  cursor: pointer;
  padding: 15px 55px;
  box-sizing: border-box;
}

.custom-radio-right {
  border-radius: 0 10px 10px 0;
}

.real-radio:checked + .custom-radio {
  background-color: #5454d4;
  color: #fff;
}

.real-radio {
  width: 0;
  height: 0;
  display: absolute;
  opacity: 0;
  z-index: -1;
}

.section__price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 160px;
}

.price__card {
  width: calc(100% / 3);
  height: 441px;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.price__card-middle {
  height: 473px;
  background-color: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.button__price {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #5454d4;
  background-color: #fff;
  border: 1px solid #eae9f2;
  border-radius: 10px;
  padding: 20px 80px;
  cursor: pointer;
  margin: 50px 20px 30px;
}

.button__price-middle {
  background-color: #9f3919;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 50px 35px 25px;
}

.text__price {
  font-family: Mulish;
  font-weight: normal;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  color: #696871;
}

.text__price-middle {
  color: #fff;
}

.price {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  color: #1d293f;
  margin: 0 0 28px;
}

.price-middle {
  color: #fff;
}

.title__price {
  font-family: DM Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #696871;
  margin: 35px 0 22px;
}

.title__price-middle {
  color: #fff;
  margin: 30px 0 20px;
}
